# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui

index = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_term = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

temp_sup_terra = pd.Series(anomalia_term, index = index)
temp_sup_terra

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:
# seu código aqui
temp_sup_terra = pd.Series(anomalia_term, index = ([1900, 1920, 1940, 1960, 1980, 2000, 2020]))
temp_sup_terra

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [9]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

serie_dic_temperaturas = pd.Series(dic_temperaturas)
serie_dic_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [16]:
arr = np.random.normal(100, 10, (20,3))
print(arr)
# seu código aqui
df_arr = pd.DataFrame(arr)
df_arr

[[107.64212051 110.58988364 100.90455856]
 [ 97.74581613  87.24034426  80.82219957]
 [108.37043244 101.77627596  97.47416224]
 [105.32498569 113.02707125 101.57440647]
 [ 89.78380762  89.25192683  84.05535921]
 [109.37047343 108.79158433  99.71872983]
 [ 95.01486948 101.42938825 103.83150678]
 [108.74279795 110.13214608  96.18875591]
 [ 96.89818024 110.16652351  91.06720119]
 [ 87.44591869  95.40765907 102.51343772]
 [ 98.87938838 106.50144959 101.3777322 ]
 [100.40649306 106.13636336  96.52638421]
 [ 95.29165682  93.61002907  93.31467131]
 [ 91.56984021 105.74339992  82.70357993]
 [ 90.22010708  87.76960786 105.94102938]
 [ 95.56309251 114.69896815 100.17205406]
 [ 92.31594993  93.8622727   90.30941717]
 [102.80799631 101.4036519   92.52185172]
 [ 91.55701969 109.09585825 105.82251552]
 [109.3810167   93.81203989  99.03009627]]

             0           1           2
0   107.642121  110.589884  100.904559
1    97.745816   87.240344   80.822200
2   108.370432  101.776276   97.474162
3   105.324986  113.027071  101.574406
4    89.783808   89.251927   84.055359
5   109.370473  108.791584   99.718730
6    95.014869  101.429388  103.831507
7   108.742798  110.132146   96.188756
8    96.898180  110.166524   91.067201
9    87.445919   95.407659  102.513438
10   98.879388  106.501450  101.377732
11  100.406493  106.136363   96.526384
12   95.291657   93.610029   93.314671
13   91.569840  105.743400   82.703580
14   90.220107   87.769608  105.941029
15   95.563093  114.698968  100.172054
16   92.315950   93.862273   90.309417
17  102.807996  101.403652   92.521852
18   91.557020  109.095858  105.822516
19  109.381017   93.812040   99.030096

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [18]:
#seu código aqui
df_arr = pd.DataFrame(arr, columns=['x1','x2','x3'], index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
df_arr

            x1          x2          x3
1   107.642121  110.589884  100.904559
2    97.745816   87.240344   80.822200
3   108.370432  101.776276   97.474162
4   105.324986  113.027071  101.574406
5    89.783808   89.251927   84.055359
6   109.370473  108.791584   99.718730
7    95.014869  101.429388  103.831507
8   108.742798  110.132146   96.188756
9    96.898180  110.166524   91.067201
10   87.445919   95.407659  102.513438
11   98.879388  106.501450  101.377732
12  100.406493  106.136363   96.526384
13   95.291657   93.610029   93.314671
14   91.569840  105.743400   82.703580
15   90.220107   87.769608  105.941029
16   95.563093  114.698968  100.172054
17   92.315950   93.862273   90.309417
18  102.807996  101.403652   92.521852
19   91.557020  109.095858  105.822516
20  109.381017   93.812040   99.030096

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [23]:
# seu código aqui
df_arr['media']=(df_arr['x1']+df_arr['x2']+df_arr['x3'])/3
df_arr

            x1          x2          x3       media
1   107.642121  110.589884  100.904559  106.378854
2    97.745816   87.240344   80.822200   88.602787
3   108.370432  101.776276   97.474162  102.540290
4   105.324986  113.027071  101.574406  106.642154
5    89.783808   89.251927   84.055359   87.697031
6   109.370473  108.791584   99.718730  105.960263
7    95.014869  101.429388  103.831507  100.091922
8   108.742798  110.132146   96.188756  105.021233
9    96.898180  110.166524   91.067201   99.377302
10   87.445919   95.407659  102.513438   95.122338
11   98.879388  106.501450  101.377732  102.252857
12  100.406493  106.136363   96.526384  101.023080
13   95.291657   93.610029   93.314671   94.072119
14   91.569840  105.743400   82.703580   93.338940
15   90.220107   87.769608  105.941029   94.643581
16   95.563093  114.698968  100.172054  103.478038
17   92.315950   93.862273   90.309417   92.162547
18  102.807996  101.403652   92.521852   98.911167
19   91.557020  109.095858  105.822516  102.158464
20  109.381017   93.812040   99.030096  100.741051

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [25]:
# seu código aqui
df_arr['log_med'] = np.log(df_arr['media'])
df_arr

            x1          x2          x3       media   log_med
1   107.642121  110.589884  100.904559  106.378854  4.667007
2    97.745816   87.240344   80.822200   88.602787  4.484163
3   108.370432  101.776276   97.474162  102.540290  4.630256
4   105.324986  113.027071  101.574406  106.642154  4.669479
5    89.783808   89.251927   84.055359   87.697031  4.473888
6   109.370473  108.791584   99.718730  105.960263  4.663064
7    95.014869  101.429388  103.831507  100.091922  4.606089
8   108.742798  110.132146   96.188756  105.021233  4.654163
9    96.898180  110.166524   91.067201   99.377302  4.598924
10   87.445919   95.407659  102.513438   95.122338  4.555164
11   98.879388  106.501450  101.377732  102.252857  4.627449
12  100.406493  106.136363   96.526384  101.023080  4.615349
13   95.291657   93.610029   93.314671   94.072119  4.544062
14   91.569840  105.743400   82.703580   93.338940  4.536237
15   90.220107   87.769608  105.941029   94.643581  4.550118
16   95.563093  114.698968  100.172054  103.478038  4.639359
17   92.315950   93.862273   90.309417   92.162547  4.523554
18  102.807996  101.403652   92.521852   98.911167  4.594222
19   91.557020  109.095858  105.822516  102.158464  4.626525
20  109.381017   93.812040   99.030096  100.741051  4.612553